.nav{
    display: flex;
    justify-content: space-between;
    
}
.nav-title{
    

}

.nav-links{
    display: flex;
    align-items: center;
    list-style: none;
    text-decoration: black;
    

}

.btn{
    background-color: aqua;
    color: white;

}